/* Media Query 1170px */
@media (max-width:1170px) {

    /* General css */
    .section-subtitle {
        max-width: 60%;
    }
 
    /* 2. Banner css */
    .banner_section .carousel-item{
        height: 90vh;
    }

}



/* Media Query 991px */
@media (max-width:991px) {

    /* General css */
    .about .banner_section,
    .product .banner_section,
    .gallery .banner_section,
    .contact .banner_section,
    .distributors .banner_section{
        padding-top: 12.5rem;
        padding-bottom: 3rem;
    }

    /* 1. Navbar css */
    .header .navbar {
        background-size: cover;
        /*when hamburger is clicked images covers nd applies to full width*/
        padding: 2rem;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }

    /* navbar right-content */
    .header .header_right span {
        padding: 0.2rem 0.5rem;
    }  

    /* banner text */
    h1{
        font-size: 7rem;
    }
    
}


/* Media Query 767px */
@media (max-width:767px) {

    /* General css */
    body,html{
        font-size: 8px;
    }
    .section-subtitle{
        max-width: 80%;
    }

    /* 2. Banner css */
    .banner_section{
        min-height: 70vh;
    }
    .banner_section .carousel-item{
        height: 70vh;
    }
    /* banner text */
    h1{
        font-size: 6rem;
    }
    
}



/* Media Query 590px */
@media (max-width:590px) {

    /* General css */
     body,html{
        font-size: 7px;
    }

    /* 2. Banner css */
        h1{
        font-size: 6rem;
    }
}